{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container-fluid">

    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ restaurants.name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='row'>
      <section class='col-md-6'>
        <img class='show-img' src='{{ restaurants.image }}' />
      </section>
      <section class='col-md-6'>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <p>
              {{ restaurants.cuisine }}
            </p>
            <p>
              Located in {{ restaurants.city }}, {{ restaurants.state }}
            </p>
            <p>
              {{ restaurants.descrip }}
            </p>
            <div class="rateit" data-rateit-value="{{ restaurants.rating }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
          </div>
        </div>
        <a class='btn btn-lg btn-success' href='/restaurants/{{ restaurants.id }}/edit'>Edit</a>
        <button id='delete-res' class='btn btn-lg btn-danger'>Delete</button>
        <a class='btn btn-lg btn-info' href='/restaurants/{{ restaurants.id }}/reviews/new'>Add a Review</a>
      </section>
    </div>

    <div class='row'>
      <section class='col-md-6'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h2 class='panel-title'>Employees</h2>
          </div>
          <div class='panel-body'>
            <h3>Peeps</h3>
          </div>
        </div>
      </section>
    </div>

  </div>

{% endblock %}
