{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class='container-fluid'>

      <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ name }}</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ link }}">{{ linkText }}<span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
      </div>
    </nav>

    <main>
      <div class='row bottom-margin'>
        <section class='col-md-12 flex-container'>
            <div id='r1' class='secondary-color-back res-div'>
              <h2>Los Tacos</h2>
              <img src='/images/mexican.png' class='home-img'/>
              <p>
                Mexican Cuisine
              </p>
              <p>
                Denver, CO
              </p>
              <p>
                Rating: <img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'>
              </p>
            </div>

          <div id='r2' class='secondary-color-back res-div'>
            <h2>Burger Bar</h2>
            <img src='/images/burger.png' class='home-img'/>
            <p>
              American Cuisine
            </p>
            <p>
              Seattle, WA
            </p>
            <p>
              Rating: <img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'>
            </p>
          </div>

          <div id='r3' class='secondary-color-back res-div'>
            <h2>Pasta Freddy's</h2>
            <img src='/images/italian.png' class='home-img'/>
            <p>
              Italian Cuisine
            </p>
            <p>
              Sacramento, CA
            </p>
            <p>
              Rating: <img src='/images/star.png' class='star'><img src='/images/star.png' class='star'><img src='/images/star.png' class='star'>
            </p>
          </div>
        </section>
      </div>

      <div class='row bottom-margin'>
        <section class='col-md-12 flex-container'>
          <div id='r4' class='secondary-color-back res-div'>
            <h2>Bangkok Gril</h2>
            <img src='/images/thai.jpg' class='home-img'/>
            <p>
              Thai Cuisine
            </p>
            <p>
              Brooklyn, NY
            </p>
            <p>
              Rating: <img src='/images/star.png' class='star'><img src='/images/star.png' class='star'>
            </p>
          </div>

          <div id='r5' class='secondary-color-back res-div'>
            <h2>Pho Mazing</h2>
            <img src='/images/pho.jpg' class='home-img'/>
            <p>
              Vietnamese Cuisine
            </p>
            <p>
              Boulder, CO
            </p>
            <p>
              Rating: <img src='/images/star.png' class='star'><img src='/images/star.png' class='star'>
            </p>
          </div>

          <div id='r6' class='secondary-color-back res-div'>
            <h2>Fiestaritos</h2>
            <img src='/images/mexican.png' class='home-img'/>
            <p>
              Mexican Cuisine
            </p>
            <p>
              Lincoln, NE
            </p>
            <p>
              Rating: <img src='/images/star.png' class='star'>
            </p>
          </div>
        </section>
      </div>
    </main>


  </div>

{% endblock %}
