{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class='container-fluid'>

    <header class='row primary-color-back bottom-margin'>
      <div class='col-md-4'>
      </div>
      <div class='col-md-4'>
        <h1 class='center-text'>{{ name }}</h1>
      </div>
      <div class='col-md-4'>
        <a href='{{ link }}' class='bottom-right main-link'>{{ linkText }}</a>
      </div>
    </header>

    <main>
      <div class='row bottom-margin'>
        <section class='col-md-12 flex-container'>
          <div id='r1' class='secondary-color-back res-div'>
            <h2>Los Tacos</h2>
            <img src='/images/mexican.png' class='home-img'/>
            <p>
              Mexican Cuisine
            </p>
            <p>
              Denver, CO
            </p>
            <p>
              Rating: 5
            </p>
          </div>

          <div id='r2' class='secondary-color-back res-div'>
            <h2>Burger Bar</h2>
            <img src='/images/burger.png' class='home-img'/>
            <p>
              American Cuisine
            </p>
            <p>
              Seattle, WA
            </p>
            <p>
              Rating: 5
            </p>
          </div>

          <div id='r3' class='secondary-color-back res-div'>
            <h2>Pasta Freddy's</h2>
            <img src='/images/italian.png' class='home-img'/>
            <p>
              Italian Cuisine
            </p>
            <p>
              Sacramento, CA
            </p>
            <p>
              Rating: 3
            </p>
          </div>
        </section>
      </div>

      <div class='row bottom-margin'>
        <section class='col-md-12 flex-container'>
          <div id='r4' class='secondary-color-back res-div'>
            <h2>Bangkok Gril</h2>
            <img src='/images/thai.jpg' class='home-img'/>
            <p>
              Thai Cuisine
            </p>
            <p>
              Brooklyn, NY
            </p>
            <p>
              Rating: 2
            </p>
          </div>

          <div id='r5' class='secondary-color-back res-div'>
            <h2>Pho Mazing</h2>
            <img src='/images/pho.jpg' class='home-img'/>
            <p>
              Vietnamese Cuisine
            </p>
            <p>
              Boulder, CO
            </p>
            <p>
              Rating: 2
            </p>
          </div>

          <div id='r6' class='secondary-color-back res-div'>
            <h2>Fiestaritos</h2>
            <img src='/images/mexican.png' class='home-img'/>
            <p>
              Mexican Cuisine
            </p>
            <p>
              Lincoln, NE
            </p>
            <p>
              Rating: 1
            </p>
          </div>
        </section>
      </div>
    </main>


  </div>

{% endblock %}
