{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gTables</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class='container-fluid'>
  <div class='col-md-2'>
  </div>
  <div class='col-md-8'>
    {% if messages.length > 0 %}
      <div class='alert alert-danger'>
        {{ messages }}
      </div>
    {% endif %}
    <form formaction='/login' class='form-signin' method='post'>
      <h2 class='form-signin-heading'>Please sign in</h2>
      <div class='form-group'>
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" placeholder="jdoe123" required="" autofocus="">
      </div>
      <div class='form-group'>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
      </div>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value='Sign In' />
    </form>
  </div>
  <div class='col-md-2'>
  </div>
</div>

{% endblock %}
