{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container-fluid">

    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='row'>
      <section class='col-md-6'>
        <img src='{{ image }}' />
      </section>
      <section class='col-md-6'>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <p>
              {{ cuisine }}
            </p>
            <p>
              Located in {{ loc }}
            </p>
            <p>
              {{ desc }}
            </p>
            <div class="rateit" data-rateit-value="{{ rating }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
          </div>
        </div>
        <button class='btn btn-lg btn-success'>Edit</button>
        <button class='btn btn-lg btn-danger'>Delete</button>
      </section>
    </div>

  </div>

{% endblock %}
