.show-img {
  width: 70%;
  height: 70%;
  margin-bottom: 20px;
}

.show-btn {
  margin-bottom: 20px;
}


.home-img {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
}
