.primary-color-back {
  background-color: #70ae6e;
  color: white;
}

.main-link {
  font-size: 2rem;
  text-decoration-style: none;
  color: #F4743B;
  background-color: #3C6e71;
  border-radius: 5px;
  padding: 5px;
}

.2-width {
  width: 20%;
}

.secondary-color-back {
  background-color: #3C6e71;
  color: white;
}

.center-text {
  text-align: center;
}

.bottom-right {
  position: relative;
  top: 25px;
  left: 100px;
}

.home-img {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 10px;
}

.bottom-margin {
  margin-bottom: 5%;
}

.res-div {
  height: 30%;
  width: 30%;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.home-img {
  width: 50%;
  height: 50%;
}
