body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.home-img {
  width: 50%;
  height: 50%;
}
